.logo{
    margin-left: 200px;
    padding-left: 180px;
    margin-bottom: 30px;
}
.logo1{
    margin-left: 300px;
    padding-left: 180px;
    margin-bottom: 30px;
}
.mySearch{
    width: 420px;
    height: 50px;
    margin-left: 450px;
    border: none;
padding-left: 200px;}
.myLable{
    margin-top:10px ;
    margin-left: 700px;
}