<!-- <div class="row" >
    <div class="col-md-3"></div>
    <div class="col-md-6 container inputWithIcon">
      <input type="text" placeholder =" | ?מה תרצו לחפש" >
        <i aria-hidden="true"><img src="/assets/icons/Microphone.svg" class="iconMicrophone"></i>
         <img src="/assets/icons/searchText.svg" class="searchText " > -->
<!-- </div>
    <div class="col-md-3"></div>
  </div> -->
<!-- Search form -->
<div class="row logo">
    <img src="../../assets/logo.png">
  </div>
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="mySearch" type="text" placeholder="  ?מה תרצו לחפש"  aria-label="Search">

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4"></div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect" (change)="onChange($event.target.value)">
            <option value="" disabled selected>מזון</option>
            <option value="1">רשתות מזון</option>
            <option value="2">מזון מהיר</option>
            <option value="3">קיוסקים</option>
        </select>
    </div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect" (change)="onChange($event.target.value)">
            <option value="" disabled selected>כלי בית</option>
            <option value="1">טמבור</option>
            <option value="2">כלי מטבח</option>
            <option value="3">אחסון</option>
            <option value="4">מצעים ומגבות</option>
        </select>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-4"></div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect">
            <option value="" disabled selected>ביגוד</option>
            <option value="1">גברים </option>
            <option value="2">נשים</option>
            <option value="3">ילדים</option>
            <option value="4">תינוקות</option>
        </select>
    </div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect">
            <option value="" disabled selected>הנעלה</option>
            <option value="1">גברים </option>
            <option value="2">נשים</option>
            <option value="3">ילדים</option>
        </select>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-4"></div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect" >
            <option value="" disabled selected>מוצרי חשמל</option>
            <option value="1">מחשבים</option>
            <option value="2">אלקטרוניקה</option>
            <option value="3">שעונים</option>
        </select>
    </div>
    <div class="col-md-3 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary mySelect">
            <option value="" disabled selected>שונות</option>
            <option value="1">ספרים</option>
            <option value="2">בדים וטקסטיל</option>
            <option value="3">מכשירי כתיבה</option>
            <option value="4">תכשיטים</option>
            <option value="5">ריהוט</option>
            <option value="6">משחקים</option>
        </select>
    </div>
    <div class="col-md-3"></div>
</div>
