
  .all{
    height: 1000px;
    width: 500px;
    margin-left: 300px;
    background-color: #ce93d8;
    position: relative;
  }

  .location{
    background-image: url('../../assets/location.png');
    width: 55px;
    height:50px;
    margin-bottom: -20;
    margin-left: 30px;
    position: absulut;
  }
  .food
  {
    text-align: center;
    font-weight: bold;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/food.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .homeWere
  {
    font-weight: bold;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/homeWere.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .clothing
  {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/clothing.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .shoes
  {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/shoes.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .different
  {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/differents.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .electronic
  {
    width: 70px;
    height: 70px;
      border-radius: 100px;
      background-image: url('../../assets/electronic.png');
      cursor: pointer;
      text-align: right;
      padding: 15px;
      position: absulut;
  }
  .mySearch{
width: 250px;
height: 50px;
margin-left:355px ;
position: absulut;
  }
  .logo{
      margin-left: 270px;
      position: absulut;
  }
